<head>
    <title> Actualizar Página </title>
</head>
{% extends "blog/navegacion.html" %}
{% load static %}

{% block contenido_nuevo %}

<form action="" method="POST">{% csrf_token %}
    <table>Estas seguro que deseas borrar la página:
        <li>{{ object.titulo }} ({{ object.subtitulo }}) - De: {{object.autor}} </li>
    </table>
    <a class="btn btn-outline-success" href="{% url 'PaginaList' %}"> Regresar </a>
    <button type="submit" class="btn btn-danger">Borrar</button>
</form>

{% endblock %}